<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }
        .left,.right {
            flex: 0 0 200px;
            background-color: lightgreen;
            min-height: 200px;

        }
        .center {
            flex: 1;
            background-color: lightskyblue;
            min-height: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left"></div>
        <div class="center"></div>
        <div class="right"></div>
    </div>
</body>
</html>